* {
  margin: 0px;
}

.btn {
  height: 50px;
  width: 50px;
  border: solid black 2px;
  display: inline-block;
}
#red {
  background-color: red;
}
#green {
  background-color: green;
}
#blue {
  background-color: blue;
}
